<template>
  <div>
    <small class="copyright">powered by <a href="https://www.tradisys.com/">Tradisys</a></small>
    <div class="tables">
      <div class="w-100">
        <table class="controls">
          <colgroup>
            <col span="3" style="background:#f0f0f0">
          </colgroup>
          <tr>
            <th colspan="3" class="header">Controls</th>
          </tr>
          <tr>
            <th colspan="2">your seed</th>
            <td>
              <label>
                <input
                  class="seed"
                  required
                  type="text"
                  v-model="seed"
                  @change="updatePlayerCredentials"
                />
              </label>
            </td>
          </tr>
          <tr>
            <th colspan="2">games count</th>
            <td>
              <label>
                <input
                  required
                  type="number"
                  min="1"
                  max="10"
                  v-model.number="gamesCount"
                  @change="updateGamesCount"
                />
              </label>
            </td>
          </tr>
          <tr>
            <th colspan="2">bet amount</th>
            <td class="control">
              <control-slider
                v-model="betAmount"
                :interval="0.1"
                :min="0.5"
                :max="6.0"
                :marks="[0.5, 6.0]"
                tooltip="always"
                @change="updateBetAmount"
              ></control-slider>
            </td>
          </tr>
          <tr>
            <th colspan="2">bet range</th>
            <td class="control">
              <control-slider
                v-model="betRange"
                :interval="1"
                :min="1"
                :max="96"
                :marks="[1, 96]"
                tooltip="always"
                @change="updateBetRange"
              ></control-slider>
            </td>
          </tr>
          <tr>
            <th>paused</th>
            <td>{{paused}}</td>
            <td>
              <button
                :disabled="!address"
                type="submit"
                @click.prevent="pauseUnpause"
              >
                {{paused ? 'start' : 'pause'}}
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="w-100"></div>
      <div class="w-100"></div>
    </div>

    <div class="tables">

      <div class="w-100">
        <table class="global">
          <colgroup>
            <col span="6" style="background:#f0f0f0">
          </colgroup>
          <tr>
            <th colspan="6" class="header">Leaders</th>
          </tr>
          <tr>
            <th>#</th>
            <th>address</th>
            <th>score</th>
            <th>times</th>
            <th>won</th>
            <th>w/rate</th>
          </tr>
          <tr
            v-for="(item, id) in leaders.slice(0, 10)" :key="id"
            :class="{me: item.playerAddress === address}">
            <td>{{id + 1}}</td>
            <td>{{item.playerAddress}}</td>
            <td>{{item.score}}</td>
            <td>{{item.timePlayed}}</td>
            <td>{{item.cleanWonAmount}}</td>
            <td>{{item.winRate}}%</td>
          </tr>
        </table>
      </div>

      <div class="w-100">
        <table class="global">
          <colgroup>
            <col span="1" style="background:#f0f0f0">
            <col style="background-color:#8aff6a">
          </colgroup>
          <tr>
            <th colspan="2" class="header">Account</th>
          </tr>
          <tr>
            <th>address</th>
            <th>balance</th>
          </tr>
          <tr>
            <td>{{address}}</td>
            <td>{{balance / 100000000}} WAVES</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="tables">

      <div class="w-100">
        <table class="played">
          <colgroup>
            <col span="2" style="background:#f0f0f0">
            <col style="background-color:LightCyan">
          </colgroup>
          <tr>
            <th colspan="5" class="header">Played</th>
          </tr>
          <tr>
            <th>#</th>
            <th>id</th>
            <th>amount</th>
            <th>range</th>
            <th>state</th>
          </tr>
          <tr v-for="(item, id) in playedGames" :key="item.id">
            <td>{{playedGames.length - id}}</td>
            <td>{{item.id}}</td>
            <td>{{item.amount / 100000000}}</td>
            <td class="range">[1 - {{item.range}}]</td>
            <td
              :class="[{won: item.state === 'WON'}, {lost: item.state === 'LOST'}]"
            >{{item.state}}
            </td>
          </tr>
        </table>
      </div>

      <div class="w-100">
        <table class="submitted">
          <colgroup>
            <col span="2" style="background:#f0f0f0">
            <col style="background-color:LightCyan">
          </colgroup>
          <tr>
            <th colspan="5" class="header">Submitted</th>
          </tr>
          <tr>
            <th>#</th>
            <th>id</th>
            <th>amount</th>
            <th>range</th>
            <th>state</th>
          </tr>
          <tr v-for="(item, id) in submittedGames" :key="item.id">
            <td>{{id + 1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.amount / 100000000}}</td>
            <td>[1 - {{item.range}}]</td>
            <td>{{item.state}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</template>

<script>
import ControlSlider from 'vue-slider-component';
import { mapActions, mapGetters } from 'vuex';

export default {
  components: {
    ControlSlider,
  },
  data() {
    return {
      seed: '',
      betAmount: 0.5,
      betRange: 50,
      gamesCount: 5,
    };
  },
  computed: {
    ...mapGetters({
      address: 'address',
      paused: 'paused',
      balance: 'balance',
      leaders: 'leaders',
      playedGames: 'playedGames',
      submittedGames: 'submittedGames',
    }),
  },
  methods: {
    ...mapActions({
      pause: 'pause',
      setPlayerCredentials: 'setPlayerCredentials',
      setGamesCount: 'setGamesCount',
      setBetAmount: 'setBetAmount',
      setBetRange: 'setBetRange',
    }),
    updatePlayerCredentials() {
      this.setPlayerCredentials(this.seed);
    },
    updateBetRange() {
      this.setBetRange(this.betRange);
    },
    updateBetAmount() {
      this.setBetAmount(this.betAmount);
    },
    updateGamesCount() {
      if (this.gamesCount <= 10) {
        this.setGamesCount(this.gamesCount);
      }
    },
    pauseUnpause() {
      this.pause(!this.paused);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .w-100 {
    width: 100%;
  }

  table {
    width: 100%;

    th.header {
      border: 1px solid black;
    }

    th:not(.header) {
    }

    tr.me {
      background-color: #8aff6a;
    }

    td.won {
      background-color: rgba(33, 255, 72, 0.51);
    }

    td.lost {
      background-color: rgba(255, 44, 49, 0.51);
    }

    td.control {
      padding: 30px 10px;
    }

    td.range {
    }
  }

  table.controls {
    input, select, label, button {
      width: 250px;
    }
  }

  .seed {
    width: 99% !important;
  }

  .copyright {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
  }

  .tables {
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: left;
  }
</style>
