<template>
  <div id="app">
    <dashboard></dashboard>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import Dashboard from './components/Dashboard.vue';
import 'vue-slider-component/theme/default.css';

export default {
  components: {
    Dashboard,
  },
  mounted() {
    this.startLifecycle();
  },
  methods: {
    ...mapActions({
      startLifecycle: 'startLifecycle',
    }),
  },
};
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
